@import "/src/root.scss";
.Footer {
  @include shadow;
  background-color: #373737;
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  //   align-items: end;
  @include pc {
    padding: 0 rem(196px);
  }
  &-logo {
    display: block;
    width: 150px;
    @include pc {
      width: rem(450px);
    }
    img {
      width: 100%;
    }
  }
  &-list {
    margin: 0;
    padding: 5px 0;
    display: flex;
    flex-direction: column;

    list-style-type: none;
    align-items: start;
    color: white;

    font-size: 15px;
    font-weight: 100;
    letter-spacing: 0%;

    text-decoration: underline;
    margin-right: 20px;

    @include pc {
      font-size: rem(24px);
      padding: rem(20px) 0;
      justify-content: space-evenly;
      margin-right: unset;
    }
    &-point {
      text-transform: lowercase;
      text-align: center;
      margin-right: 10px;
      @include pc {
        margin-right: rem(44px);
      }

      &:last-child {
        margin-right: 0;
      }
      & a {
        text-decoration: none;

        &:hover {
          @include pc {
            color: #000;
          }
        }
        &:visited {
          color: white;
        }
      }
    }
  }
}
